
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}

#camera {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

#gameScreen {
  width: 3000px;
  height: 2000px;
  margin: auto;
  position: relative;
  z-index: -10;

  background-color: #101010;
  /* (Temp.) */
  background-image: url("https://36.media.tumblr.com/d7caab0897beb384481184cbd6b79182/tumblr_n6bdslPzHF1s1oo06o1_400.png");
  border: #888888 5px solid;
  border-radius: 10px;
}

#playerName {
  position: absolute;
  bottom: 55px;
  left: 5px;
  margin: 2px 5px;
  z-index: 100;

  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  padding: 2px;
}

#points {
  position: absolute;
  bottom: 35px;
  left: 5px;
  margin: 2px 5px;
  z-index: 100;

  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #FFFFFF;
  padding: 2px;
}

#healthbox {
  width: 225px;
  height: 20px;
  margin: 5px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 100;

  background-color: #444444;
  border: #333333 2px solid;
}

#healthbar {
  width: 100%;
  height: 20px;
  position: relative;

  background-color: #007700;
}


#gameOverScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  z-index: 110;

  background-color: #22222277;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
}

#gameOver {
  display: block;
  position: relative;
  margin-top: 10%;
  font-size: 20px;
  padding: 1%;
}

#totalPoints {
  display: block;
  position: relative;
  padding: 0.5%;
}

#gameOverScreen button {
  width: 15%;
  height: 5%;
  display: inline-block;
  position: relative;
  margin: 2%;
  padding: 0.5% 2%;

  background-color: #8800FF;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}




.player {
  width: 80px;
  height: 80px;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  display: inline-block;

  position: absolute;
}

/* Class to display hit animation */
.damage:before {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #FF5500;
  display: block;
  content: " "; 
  z-index: 0;

  animation-name: take-damage;
  animation-duration: 300ms;

  position: absolute;
}

/* Hit animation */
@keyframes take-damage {
  0% {opacity: 0;}
  30% {opacity: 0.8;}
  70% {opacity: 0.3;}
  100% {opacity: 0;}
}


.laser {
  width: 12px;
  height: 12px;
  background-color: #FF0000;
  border-radius: 6px;
  display: inline-block;
  z-index: -1;

  position: absolute;
}

.username {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: antiquewhite;

  position: absolute;
}