<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="views/css/gameStyles.css">

    <title>Game Test</title>
  </head>

  <body>
    <div id="camera">
      <div id="gameScreen"></div>
      
      <div id="playerName"></div>
      <div id="points"></div>
      <div id="healthbox">
        <div id="healthbar"></div>
      </div>  

      <div id="gameOverScreen">
        <span id="gameOver">Game Over!</span>
        <span id="totalPoints">Points: </span>
        <!--<button onclick="location.href='/leaderboard'" type="button">LEADERBOARD</button>-->
      </div>
    </div>

    
    <script src="/socket.io/socket.io.js"></script>
    <script>
      let socket = io();
    </script>
    
    <script src="/models/Player.js"></script>
    <script src="/models/Laser.js"></script>
    <script src="/models/Camera.js"></script>
    <script src="/models/Controller.js"></script>
    <script src="/controllers/game.js"></script>
  </body>
</html>
